<h3> <%= category %> </h3>

<ul>
  <% @resources.select { |resource| resource.inventory_item.category == category }.each do |resource| %>
    <li>
      <% binding.pry %>
      <span><%= resource.inventory_item.name %></span>
      <br>
      <span><%= resource.quantity %></span>
    </li>
  <% end %>
</ul>
