<nav>
  <a href='#'><</a>
  <span>January 2016</span>
  <a href='#'>></a>
</nav>

<table class='day-labels'>
  <tr>
    <td><span>Sun</span></td>
    <td><span>Mon</span></td>
    <td><span>Tue</span></td>
    <td><span>Wed</span></td>
    <td><span>Thu</span></td>
    <td><span>Fri</span></td>
    <td><span>Sat</span></td>
  </tr>
</table>

<table class="cal_body">
  <tr>
    <td><div class='cell'></div></td>
    <td><div class='cell'></div></td>
    <td><div class='cell'></div></td>
    <td><div class='cell'></div></td>
    <td><div class='cell'></div></td>
    <td>
      <div class='cell'>
        <p class='date'>1</p>
        <div class='indicator'></div>
      </div>

    </td>
    <td>
      <div class='cell'>
        <p class='date'>2</p>
        <div class='indicator'></div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class='cell'>
        <p class='date'>3</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>4</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>5</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>6</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>7</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>8</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>9</p>
        <div class='indicator'></div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class='cell'>
        <p class='date'>10</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>11</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>12</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>13</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>14</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>15</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>16</p>
        <div class='indicator'></div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class='cell'>
        <p class='date'>17</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>18</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>19</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>20</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>21</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>22</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>23</p>
        <div class='indicator'></div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class='cell'>
        <p class='date'>24</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>25</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>26</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>27</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>28</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>29</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
        <p class='date'>30</p>
        <div class='indicator'></div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class='cell'>
        <p class='date'>31</p>
        <div class='indicator'></div>
      </div>
    </td>
    <td>
      <div class='cell'>
      </div>
    </td>
    <td>
      <div class='cell'>
      </div>
    </td>
    <td>
      <div class='cell'>
      </div>
    </td>
    <td>
      <div class='cell'>
      </div>
    </td>
    <td>
      <div class='cell'>
      </div>
    </td>
    <td>
      <div class='cell'>
      </div>
    </td>
  </tr>

</table>
