/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 // VARIABLES

$color: black;
$basic-border: 1px solid $color;
$month-content-width: 72%;

// MIXINS

 @mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
 }

// GENERAL
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: $month-content-width;
  margin: 0 auto;
}

// DAY LABELS TOP ROW

.month-view-nav {
  padding-top: 15px;
  width: $month-content-width;
  margin: auto;
}

.month-name {
  padding-left: 15px;
}

table tr th {
  text-align: center;
}

// CALENDER CELLS
table tr td {
  padding: 0;
  height: 110px;
  border: 1px solid #DDDDDD;
}

.cell {
  margin: 0 auto;
  height: 93%;
  width: 93%;
  text-align: center;
  @include border-radius(3px);
}

.indicator {
  margin: 0 auto;
  height: 18px;
  width: 18px;
  border: 2px solid #DDDDDD;
  @include border-radius(9px);
}

.filled {
  background-color: #DDDDDD;
}

.date {
  margin-top: 12px;
  margin-bottom: 8px;
}

.today {
  margin: auto;
  background-color: red;
  height: 40px;
  width: 40px;
  @include border-radius(20px);
  a {
    padding-left: 1px;
    color: white;
  }
}

.grayout a {
  color: #DDDDDD;
}

// SPLASH

.splash {
  background-image: image-url("splash_3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.login-form {
  margin: auto;
  padding: 15px;
  background-color: white;
  width: 500px;
  @include border-radius(10px);
}

.splash-title {
  text-align: center;
  padding-top: 40px;
}

// EVENTS
.event-form {
  padding: 15px 25px 15px 25px;
  width: 55%;
  margin: auto;
  border: 1px solid #DDDDDD;
}

.event {
  height: 120px;
  width: 55%;
  margin: 10px auto;
  border: 1px solid #DDDDDD;
}

.event-buttons {
  float: right;
}

.event-left {
  position: absolute;
  width: 200px;
  float: left;
  height: 100%;
  border: 1px solid red;
}

.event-right {
  position: absolute;
  width: 200px;
  height: 100%;
  border: 1px solid blue;
  float: left;
}

.parent {
  position: absolute;
  height: auto;
}
