/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 // VARIABLES

$color: black;
$basic-border: 1px solid $color;
$month-content-width: 72%;
$light-gray-border: 1px solid #DDDDDD;
$the-enforcer: 35px auto 0px auto;

// MIXINS, ETC

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin the-box-shadow {
  -webkit-box-shadow: 1px 1px 5px rgba(136,136,136,0.8);
  -moz-box-shadow: 1px 1px 5px rgba(136,136,136,0.8);
  box-shadow: 1px 1px 5px rgba(136,136,136,0.8);
}

@mixin translate-arrow-button {
  height: 45px;
  padding-top: 11px;
  padding-bottom: 7px;
  transform: translate(0, 18%);
}

@mixin background($filename) {
  background-image: image-url($filename);
  background-size: cover;
  min-height: 100%;
}

body {
  background-image: image-url("mooning.png");
  background-position: center center;
  background-repeat: repeat;
}

.bold {
  font-weight: bold;
}

html body nav.month-view-nav ul.button-group li a.arrow {
  @include translate-arrow-button;
}

html body nav.event-nav ul.button-group li a.arrow {
  @include translate-arrow-button;
}

.shadow {
  &:hover {
    -webkit-box-shadow: 5px 5px 20px rgba(136,136,136,0.8);
    -moz-box-shadow: 5px 5px 20px rgba(136,136,136,0.8);
    box-shadow: 5px 5px 20px rgba(136,136,136,0.8);
    transition: 0.25s ease-in-out;
  }
}

.github-image {
  color: white;
  fill: #94d31b;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

// GENERAL
.cal-body {
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: $month-content-width;
  @include the-box-shadow;
}

.alert-box {
  margin-bottom: 0;
}

.main-nav-shadow {
  box-shadow: 7px 7px 20px rgba(136,136,136,1);
}

.the-enforcer {
  margin: auto;
  height: 18px;
}

// DAY LABELS TOP ROW
.month-view-nav {
  width: $month-content-width;
  margin: $the-enforcer;
}

.month-name {
  padding-left: 15px;
}

.cal-body tr th {
  text-align: center;
}

// CALENDER CELLS
.cal-body tr td {
  padding: 0;
  height: 110px;
  border: 1px solid #DDDDDD;
}

.cell {
  margin: 0 auto;
  height: 93%;
  width: 93%;
  text-align: center;
  @include border-radius(3px);
}

.indicator {
  margin: 0 auto;
  height: 18px;
  width: 18px;
  border: 2px solid #DDDDDD;
  @include border-radius(9px);
}

.filled {
  background-color: #DDDDDD;
}

.date {
  margin-top: 12px;
  margin-bottom: 8px;
}

.today {
  margin: auto;
  background-color: red;
  height: 40px;
  width: 40px;
  @include border-radius(20px);
  a {
    padding-left: 1px;
    color: white;
  }
}

.grayout a {
  color: #DDDDDD;
}

// SPLASH
.splash {

}

.login-form {
  margin: auto;
  padding: 15px;
  background-color:rgba(255,255,255,0.8);
  width: 500px;
  @include border-radius(3px);
}

.splash-title {
  text-align: center;
  padding-top: 40px;
}

// EVENTS

.event-nav {
  width: 70%;
  margin: $the-enforcer;
  h4 {
    margin: auto 0;
  }
  ul li a {
    margin-bottom: 0;
  }
}

.event-date {
  padding-left: 15px;
}

.event-form {
  background-color: white;
  padding: 15px 25px 15px 25px;
  width: 70%;
  margin: 35px auto 10px auto;
  border: $light-gray-border;
  @include border-radius(4px);
  @include the-box-shadow;
}

.event {
  background-color: white;
  padding: 10px;
  width: 70%;
  margin: 20px auto;
  border: $light-gray-border;
  @include border-radius(4px);
  @include the-box-shadow;
  span {
    color: gray;
    font-size: 14px;
  }
}

.event-buttons {
  float: right;
  a {
    @include the-box-shadow;
    @include border-radius(2px);
  }
}

.event-title {
  margin: 0;
}

.event-time {
  margin-top: 10px;
}

.event-descript {
  color: gray;
}

.overview-icon {
  transform: translate(0, 20%);
}


// EVENT SHOW PAGE
.event-show {
  background-color: white;
  border: $light-gray-border;
  margin: $the-enforcer;
  width: 80%;
  padding: 10px;
  @include border-radius(4px);
  @include the-box-shadow;
  max-width: none;
  p {
    margin: 0;
  }
}

.event-show-banner {
}

.event-show-buttons {
  transform: translate(10%, 25%);
  li a {
    @include border-radius(2px);
    @include the-box-shadow;
    margin: 0;
  }
}

.event-show-time {
  text-align: center;
  min-width: 120px;
  p { margin: 5px; }
}

// RESOURCES
.resource-category {
  background-color: white;
  padding: 10px 30px;
  width: 80%;
  margin: 20px auto;
  border: $light-gray-border;
  @include border-radius(4px);
  @include the-box-shadow;
}

.resource-table {
  width: 100%;
  a {
    @include border-radius(2px);
    @include the-box-shadow;
  }
}

td .button {
  margin: 0;
}

.resource-column {
  width: 120px;
}

.quantity-column {
  width: 220px;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.resource-buttons {
  float: right;
}

body div article table tbody tr td.quantity-column form div div input.resource-quantity-update {
  margin-bottom: 0;
}
