/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 // VARIABLES

$the-enforcer: 35px auto 0px auto;

$basic-border: 1px solid black;
$month-content-width: 72%;
$light-gray-border: 1px solid #ddd;
$very-light-gray-border: 1px solid #EDEDED;

$charcoal: #666;
$light-gray: #ddd;
$white: #fff;
$light-red: #ff8585;

// MIXINS, ETC

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin the-box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin background($filename) {
  background-image: image-url($filename);
  background-size: cover;
  min-height: 100%;
}

body {
  background-image: image-url("mooning.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
}

label {
  font-size: 13px;
}

input, textarea {
  margin: 0 0 8px 0 !important;
}

.bold {
  font-weight: bold;
}

.shadow {
  &:hover {
    box-shadow: 5px 5px 20px rgba(136,136,136,0.8);
    transition: all 0.2s ease-in-out;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-buttons {
  text-align: center;
}

// GENERAL
.main-nav-shadow {
  box-shadow: 0 8px 12px rgba(0,0,0,0.12), 0 8px 12px rgba(0,0,0,0.24);
}

.alert-box {
  margin-bottom: 0;
}

.the-enforcer {
  margin: auto;
  height: 18px;
}

.button {
  margin: 0 !important;
}

// SPLASH
.login-form {
  margin: 20px auto;
  padding: 15px;
  background-color:rgba(255,255,255,0.8);
  width: 450px;
  @include the-box-shadow;
  @include border-radius(5px);
  a, input {
    margin-bottom: 0;
  }
}

.splash-title {
  text-align: center;
  padding-top: 30px;
}

// CALENDAR TOP LEVEL
.cal-wrapper {
  margin: 20px auto;
  width: 900px;
  @include the-box-shadow;
  border-radius: 10px;
}

.cal-top {
  padding: 20px;
  background-color: $light-gray;
}

.cal-title {
  display: inline-block;
}

.month-name {
  color: $charcoal;
}

.cal-nav {
  float: right;
  i {
    font-size: 4em;
  }
}

.cal-nav i.today-link {
  font-size: 2.7em;
  transform: translate(0, -19%);
}

.cal-body-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: $white;
}

.cal-body {
  width: 100%;
  table-layout: fixed;
  border: none;
  margin-bottom: 0;
}

// DAY LABELS TOP ROW
.month-view-nav {
  width: $month-content-width;
  margin: $the-enforcer;
}

.cal-body tr th {
  text-align: center;
  background-color: $white;
  padding: 0;
  h4 {
    color: #008CBA;
    margin: 3px 0;
  }
}

// CALENDER CELLS
.cal-body tr td {
  padding: 0;
  height: 110px;
  background-color: $white;
}

.cell {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  border: 1px solid #CCC;
  display: table;
}

.date {
  display: table-cell;
  vertical-align: middle;
  a {
    color: $charcoal;
  }
}

.today {
  background-color: $light-red;
  a {
    color: white;
  }
}

.event-today {
  background-color: $light-gray;
}

.grayout {
  border: $very-light-gray-border;
  a {
    color: $light-gray;
  }
}

// EVENTS
.event-header-wrapper {
  width: 700px;
  margin: 20px auto;
}

.event-nav-wrapper {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 70px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  background-color: $light-gray;
}

.day-title {
  display: inline-block;
}

.date {
  color: $charcoal;
}

.day-nav {
  display: inline-block;
  float: right;
  i {
    font-size: 4em;
    transform: translate(0, -9%);
  }
  i.today-link {
    font-size: 2.7em;
    transform: translate(0, -36%);
  }
}

.event-date {
  padding-left: 15px;
}

.event-form {
  background-color: $white;
  padding: 5px 10px 10px 10px;
  margin: 0 auto;
  @include the-box-shadow;
  position: top;
  z-index: -1;
  h3 {
    margin: 0;
  }
}

.standalone-event-form {
  width: 730px;
  margin: 40px auto;
}

.event-form-time-fields {
  height: 80px;
  width: 100%;
  display: inline-flex;
  div div {
    display: inline-block;
  }
}

.start-time-field {
  padding-left: 0;
  padding-right: 10px;
}

.end-time-field {
  padding-right: 0;
  padding-left: 10px;
}

.event {
  @include the-box-shadow;
  background-color: white;
  margin: 20px auto;
  height: 80px;
  .event-buttons { opacity: 0; }
  &:hover .event-buttons {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    float: right;
    clear: right;
    position: relative;
      top: -15px;
      right: -75px;
  }
}

.event-title-container {
  padding-left: 10px;
}

.event-title {
  margin-bottom: 5px;
  float: left;
  clear:left;
}

.event-time-index {
  padding: 0;
  background-color: #008CBA;
  width: 130px;
  height: 80px;
  span {
    color: white;
    display: inline-block;
  }
}

.event-time {
  font-size: 1.7em;
}

span.event-end-time {
  font-size: 0.8em;
  margin-top: 8px;
}

.event-time-wrapper {
  display: block;
  text-align: center;
  padding-top: 1px;
}

.tag-container {
  padding-left: 10px;
}

.circle-button {
  background-color: white;
  height: 30px;
  width: 30px;
  border: 1px solid $light-gray;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include border-radius(15px);
  i {
    transform: translate(0, 9%);
  }
}

.dept-tag {
  padding: 3px 6px;
  color: #fff;
  border-radius: 15px;
  background: linear-gradient(to bottom, #28B0DE 0%, #008CBA 100%);
  font-size: 9pt;
}

.event-descript {
  color: gray;
}

.overview-icon {
  transform: translate(0, 20%);
}

// EVENT SHOW PAGE
.event-show {
  background-color: $white;
  margin: $the-enforcer;
  width: 750px;
  padding: 10px;
  @include the-box-shadow;
  max-width: none;
  p {
    margin: 0;
  }
}

.event-buttons-show {
  position: relative;
  top: -25px;
  left: 130px;
  li a {
    @include border-radius(2px);
    @include the-box-shadow;
    margin: 0;
  }
}

.event-show-time {
  text-align: center;
  min-width: 120px;
  p { margin: 5px; }
}

// RESOURCES
.resource-category {
  background-color: white;
  padding: 10px 30px;
  width: 80%;
  margin: 20px auto;
  @include the-box-shadow;
}

.resource-table {
  width: 100%;
  a {
    @include border-radius(2px);
    @include the-box-shadow;
  }
}

td .button {
  margin: 0;
}

.resource-column {
  width: 120px;
}

.quantity-column {
  width: 220px;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.resource-buttons {
  float: right;
}

body div article table tbody tr td.quantity-column form div div input.resource-quantity-update {
  margin-bottom: 0;
}
