@import 'foundation_and_overrides';

@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500italic);

$charcoal: #666;
$light-gray: #ddd;
$white: #fff;
$light-red: #ff8585;
$blue: #008CBA;
$faint-blue: #8fafcf;

$the-enforcer: 35px auto 0px auto;

$fancy-font: 'Playball', cursive;
$stroke: 1px $light-gray;

$month-content-width: 72%;

$basic-border: 1px solid black;
$light-gray-border: 1px solid #ddd;
$very-light-gray-border: 1px solid #EDEDED;
