body {
  background-image: image-url("splash_4.jpg");
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.signup-form {
  margin-top: 30px;
}
